In [ ]:
a=5
b=6
text="MBA TECH BATCH"
A=6
#CANNOT START WITH NMBER
#CASE SENSTIVE
print(a)

5

In [ ]:
#if else
#python

In [ ]:
a = 33
b = 200
if b > a:
  print("b i greater than a")

b i greater than a

In [ ]:
num = 0
if num >0:
  print("Positive Number")
elif num == 0:
  print("Zero")
else:
  print("Negative Number")

Zero

In [ ]:
num = 40
if num >0:
  print("Positive Number")
elif num == 0:
  print("Zero")
else:
  print("Negative Number")

Positive Number

In [ ]:
for i in range (0,5):
  print("Hi, how are you.")

Hi, how are you.
Hi, how are you.
Hi, how are you.
Hi, how are you.
Hi, how are you.

In [ ]:
for i in range(0,5):
 print(i)

0
1
2
3
4

In [ ]:
text="MBA TECH"
for i in range(len(text)):
  print(text[i])

M
B
A

T
E
C
H

In [ ]:
a=5
b=10
sum=a+b
print("SUM OF TWO NUMBERS IS :" ,sum)

SUM OF TWO NUMBERS IS : 15

In [ ]:
def sum( arg1 , arg2 ):
  total = arg1 + arg2
  print("Inside the Function: " ,total)
  return total

total = sum( 10,5 )
print("Outside the Function: " ,total)

Inside the Function:  15
Outside the Function:  15

In [ ]:
#step1 Take Inputs
text=str(input("Enter the word: "))
shift=int(input("Enter the key: "))
result=''

Enter the word: abc
Enter the key: 3

In [ ]:
#step2 Traverse
for i in range(len(text)):
 char = text[i]
 print(char)

a
b
c

In [ ]:
# step3 for all upper case shift as per input
text ='ABC'
shift = 3
result=''

for i in range(len(text)):
  char = text[i]
  print("original char",char)

In [ ]:
text = "ABC"
shift = 3

result=''
#traverse text
for i in range(len(text)):
  char = text[i]
#encrypt upper case character
if (char.isupper()):
  result += chr((ord(char) = s - 97))

In [ ]:
def encrypt(text,s):
  result = ""
  # traverse text
  s=s
  print(s)
  for i in range(len(text)):
    char = text[i]

    # Encrypt uppercase characters
    if (char.isupper()):
      result += chr((ord(char) + s-65) % 26 + 65)

    # Encrypt lowercase characters
    else:
      result += chr((ord(char) + s - 97) % 26 + 97)
    
  return result

#check the above function
text=str(input("enter the word:"))
shift=int(input("Enter the key: "))
# print ("Text : " + text)
# print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,shift))

enter the word:Hi ab
Enter the key: 1
1
Cipher: Ijobc